.forma{
    width: 800px;
    padding-left: 20px;
    padding-right: 50px;
    border: 1px solid red;
    font-size: 18px;
    
}

.nazv{
    width: 550px;
    
    margin-left: 67px;

}
.Rubrika{
    padding-top: 10px;
}
.pole_select{
    margin-left: 130px;
    width: 250px;
}
.Publikasia{
    padding-top: 10px;
}

.pole_radio{
    display: inline;

}
.pole_publik{
    margin-left: 100px;
}
.komment{
    padding-top: 10px;
}
.text{
    padding-top: 10px;
   
}
.pole_text{
    width: 785px;
    height: 60px;
}
.button{
    padding-top: 10px;
    padding-bottom: 10px;
}
@media screen and (max-width: 850px) {
    .forma{
        padding-left: 10px;
        width: 95%;
        padding-right: 10px;
    }
    .nazv{
        width: 95%;
        margin-left: 1px;
    }
    .pole_publik{
        margin-left: 5px;
        display: inline-block;
    }
    .pole_select{
        margin: 3px;
       
    }
    .pole_radio{
        display: block;
    }
       
    .pole_text{
        
        width: 95%;
        height: 60px;
    }
}