.text{
    font-size: 20px;
}
.div{
    position: relative;
    height: 450px;
    width: 800px;
    
}
.biohazard{
    position: absolute;
    left: 450px;
}
.man{
    position: absolute;
    left: 700px;
}
.Yin{
    position: absolute;
    left: 580px;
    top: 210px;
}
.smoke{
    position: absolute;
    left: 550px;
    top: 80px;
}
.biohazard:hover{
    z-index: 1;
}
.man:hover{
    z-index: 1;
}
.Yin:hover{
    z-index: 1;
}
.text2{
    font-size: 20px;
}
@media screen and (max-width : 480px){
    .div{
        width: 100%;
    }
}